<footer class="section-footer">
    <div class="row">
      <div class="col">
        <h2>Лечение</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Врачи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Услуги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Диагностика</a>
            </li>
        </ul>
      </div>

      <div class="col">

        <h2>Пациенту</h2>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Первое посещение</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Анкета первичного пациента</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Необходимые документы</a>
            </li>
        </ul>
      </div>

      <div class="col">

        <h2>Клиника</h2>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">О клинике</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Нормативные документы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Отзывы пациентов</a>
            </li>
        </ul>
      </div>
    </div>
</footer>
